In [1]:
import pandas as pd

In [34]:
# set display options
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)

## Part 1

In [2]:
#path were data is stored
data_folder = '/Users/vishal.gupta/Documents/s/coursera_Applied_Data_Science_with_Python/Introduction-to-Data-Science-in-Python/Data/'

In [3]:
df = pd.read_csv(data_folder + 'olympics.csv', skiprows=1, index_col=0)

# fix column names
for col in df.columns:
    if col[:2] == '01':
        df = df.rename(columns={col: 'Gold'+col[4:]})
    elif col[:2] == '02':
        df = df.rename(columns={col: 'Silver'+col[4:]})
    elif col[:2] == '03':
        df = df.rename(columns={col: 'Bronze'+col[4:]})
    else:
        df = df.rename(columns={col: col.replace('№','#')})

# fix index
name_ids = df.index.str.split('(')
country_name = []
for name in name_ids:
    country_name.append(name[0])
df.index=country_name

In [4]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

### Question 0 (Example)
What is the first country in df?

This function should return a Series.

In [5]:
df.iloc[0]

# Summer          13
Gold               0
Silver             0
Bronze             2
Total              2
# Winter           0
Gold.1             0
Silver.1           0
Bronze.1           0
Total.1            0
# Games           13
Gold.2             0
Silver.2           0
Bronze.2           2
Combined total     2
Name: Afghanistan , dtype: int64

### Question 1
Which country has won the most gold medals in summer games?

This function should return a single string value.

In [6]:
df[df.Gold == df[:-1].Gold.max()].index.values[0]

'United States\xa0'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

This function should return a single string value.

In [7]:
df['sum_wint_diff'] = df['Gold'] - df['Gold.1']
df[df.sum_wint_diff == df[:-1].sum_wint_diff.max()].index.values[0]

'United States\xa0'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$
 
Only include countries that have won at least 1 gold in both summer and winter.

This function should return a single string value.

In [8]:
df['sum_wint_diff'] = (df['Gold'] - df['Gold.1'])/(df['Gold'] + df['Gold.1'] + df['Gold.2'])
df[df.sum_wint_diff == df[(df['Gold'].astype(int) > 0) & 
                          (df['Gold.1'].astype(int) > 0)][:-1].sum_wint_diff.max()].index.values[0]

'Bulgaria\xa0'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (Gold.2) counts for 3 points, silver medals (Silver.2) for 2 points, and bronze medals (Bronze.2) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

This function should return a Series named Points of length 146

## Part 2

In [10]:
census_df = pd.read_csv(data_folder + 'census.csv')

In [54]:
census_df.tail()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,NPOPCHG_2010,NPOPCHG_2011,NPOPCHG_2012,NPOPCHG_2013,NPOPCHG_2014,NPOPCHG_2015,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,DEATHS2010,DEATHS2011,DEATHS2012,DEATHS2013,DEATHS2014,DEATHS2015,NATURALINC2010,NATURALINC2011,NATURALINC2012,NATURALINC2013,NATURALINC2014,NATURALINC2015,INTERNATIONALMIG2010,INTERNATIONALMIG2011,INTERNATIONALMIG2012,INTERNATIONALMIG2013,INTERNATIONALMIG2014,INTERNATIONALMIG2015,DOMESTICMIG2010,DOMESTICMIG2011,DOMESTICMIG2012,DOMESTICMIG2013,DOMESTICMIG2014,DOMESTICMIG2015,NETMIG2010,NETMIG2011,NETMIG2012,NETMIG2013,NETMIG2014,NETMIG2015,RESIDUAL2010,RESIDUAL2011,RESIDUAL2012,RESIDUAL2013,RESIDUAL2014,RESIDUAL2015,GQESTIMATESBASE2010,GQESTIMATES2010,GQESTIMATES2011,GQESTIMATES2012,GQESTIMATES2013,GQESTIMATES2014,GQESTIMATES2015,RBIRTH2011,RBIRTH2012,RBIRTH2013,RBIRTH2014,RBIRTH2015,RDEATH2011,RDEATH2012,RDEATH2013,RDEATH2014,RDEATH2015,RNATURALINC2011,RNATURALINC2012,RNATURALINC2013,RNATURALINC2014,RNATURALINC2015,RINTERNATIONALMIG2011,RINTERNATIONALMIG2012,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RINTERNATIONALMIG2015,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,44041,45104,45162,44925,44626,-213,448,1063,58,-237,-299,167,640,595,657,629,620,76,251,273,296,246,262,91,389,322,361,383,358,5,8,0,2,8,8,-324,47,724,-241,-642,-638,-319,55,724,-239,-634,-630,15,4,17,-64,14,-27,679,679,694,697,731,671,672,14.606203,13.349038,14.556976,13.964279,13.846858,5.728370,6.124853,6.558394,5.461387,5.851414,8.877833,7.224185,7.998582,8.502892,7.995444,0.182578,0.000000,0.044313,0.177606,0.178669,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,21482,21697,22347,22905,23125,3,185,215,650,558,220,76,259,230,261,249,269,10,87,61,97,68,76,66,172,169,164,181,193,5,48,31,36,49,48,-71,-34,21,430,320,-13,-66,14,52,466,369,35,3,-1,-6,20,8,-8,271,271,271,270,268,268,267,12.108745,10.653327,11.851785,11.005038,11.688030,4.067416,2.825448,4.404686,3.005392,3.302194,8.041329,7.827879,7.447098,7.999646,8.385835,2.244092,1.435883,1.634729,2.165650,2.085596,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,20912,20989,21022,20903,20822,-16,-190,77,33,-119,-81,73,324,311,316,316,316,49,139,115,136,130,137,24,185,196,180,186,179,2,-8,-13,-13,-11,-10,-45,-373,-103,-145,-298,-253,-43,-381,-116,-158,-309,-263,3,6,-3,11,4,3,270,270,245,236,254,254,254,15.423430,14.844514,15.043679,15.074538,15.146794,6.616842,5.489129,6.474495,6.201550,6.566806,8.806588,9.355385,8.569184,8.872987,8.579988,-0.380825,-0.620510,-0.618886,-0.524747,-0.479329,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,8469,8443,8443,8316,8328,12,-76,-26,0,-127,12,26,108,90,95,96,90,34,79,105,77,70,79,-8,29,-15,18,26,11,1,-3,-3,-2,-2,-2,20,-99,-7,-17,-149,14,21,-102,-10,-19,-151,12,-1,-3,-1,1,-2,-11,140,140,140,140,140,140,140,12.695427,10.643330,11.251925,11.456531,10.814708,9.286470,12.417219,9.119981,8.353720,9.492910,3.408957,-1.773888,2.131944,3.102810,1.321798,-0.352651,-0.354778,-0.236883,-0.238678,-0.240327,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,7114,7065,7160,7185,7234,-27,-67,-49,95,25,49,26,81,74,93,77,79,9,71,67,77,70,77,17,10,7,16,7,2,1,-2,0,0,0,0,-41,-84,-57,88,11,50,-40,-86,-57,88,11,50,-4,9,1,-9,7,-3,313,313,313,313,323,318,317,11.332634,10.437972,13.075571,10.735448,10.957764,9.933543,9.450596,10.826011,9.759498,10.680352,1.399091,0.987376,2.249561,0.975950,0.277412,-0.279818,0.000000,0.000000,0.000000,0.000000,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

This function should return a single string value.

In [33]:
county = census_df.groupby('STNAME').agg({'COUNTY':sum})
county.idxmax().values[0]

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use CENSUS2010POP.

This function should return a list of string values.

In [61]:
census_df[census_df.SUMLEV == 50].groupby('STNAME').CENSUS2010POP.agg({'CENSUS2010POP':
                                                                       'sum'}).sort_values('CENSUS2010POP', 
                                                                                   ascending=
                                                                                   False)[:3].index.values.tolist()

/Users/vishal.gupta/paysense/dashboards/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

['California', 'Texas', 'New York']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

This function should return a single string value.

In [99]:
population_df = census_df.copy()
population_df = population_df[population_df['SUMLEV'] == 50]
population_df = population_df.set_index('CTYNAME')
population_col = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 
                  'POPESTIMATE2014', 'POPESTIMATE2015'] 
population_df['max_diff'] = population_df[population_col].max(axis=1) - population_df[population_col].min(axis=1)
population_df['max_diff'].idxmax()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column.

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending? by index).Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column.

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).

In [106]:
census_df[(census_df.REGION.isin([1,2])) & (df.CTYNAME.str.startswith('Washington')) &
         (census_df.POPESTIMATE2015 > census_df.POPESTIMATE2014)][['STNAME', 'CTYNAME']]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County