In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# set display options
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)

In [3]:
data_folder = '/Users/vishal.gupta/Documents/s/coursera_Applied_Data_Science_with_Python/Introduction-to-Data-Science-in-Python/Data/'

### Question 1 (20%)

In [4]:
energy = pd.read_excel(data_folder + 'Energy Indicators.xls', skiprows=17,skip_footer= 38)
energy.drop(columns=['Unnamed: 0', 'Unnamed: 1'], inplace=True)
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy['Energy Supply'] = np.where(energy['Energy Supply'] == '...', np.NaN, energy['Energy Supply'])
energy['Energy Supply per Capita'] = np.where(energy['Energy Supply per Capita'] == 
                                              '...', np.NaN, energy['Energy Supply per Capita'])

energy['Energy Supply'] = energy['Energy Supply']*1000000
energy['Country'] = energy['Country'].replace({"Republic of Korea": "South Korea",
                                            "United States of America20": "United States",
                                            "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                                            "China, Hong Kong Special Administrative Region": "Hong Kong",
                                            })
energy['Country'] = energy['Country'].str.replace(" \(.*\)","")
energy['Country'] = energy['Country'].apply(lambda x: re.sub(r'\d+', '', x))
energy.head(2)

/Users/vishal.gupta/paysense/dashboards/venv/lib/python3.6/site-packages/pandas/util/_decorators.py:177: FutureWarning: the 'skip_footer' keyword is deprecated, use 'skipfooter' instead
  return func(*args, **kwargs)

       Country Energy Supply Energy Supply per Capita  % Renewable
0  Afghanistan     321000000                       10     78.66928
1      Albania     102000000                       35    100.00000

In [5]:
gdp = pd.read_csv(data_folder + 'world_bank.csv', skiprows=4)
gdp['Country Name'] = gdp['Country Name'].replace({"Korea, Rep.": "South Korea", 
                                                    "Iran, Islamic Rep.": "Iran",
                                                    "Hong Kong SAR, China": "Hong Kong"})
gdp.rename(columns={'Country Name': 'Country'}, inplace=True)
gdp.head(2)

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022871e+09,1.070430e+09,1.157667e+09,1.247831e+09,1.317944e+09,1.325090e+09,1.368868e+09,1.407725e+09,1.428320e+09,1.428913e+09,1.460474e+09,1.458539e+09,1.476720e+09,1.502859e+09,1.529681e+09,1.565191e+09,1.616112e+09,1.705759e+09,1.792656e+09,1.879188e+09,1.950248e+09,1.999901e+09,2.018485e+09,1.997664e+09,2.045272e+09,2.101671e+09,2.199393e+09,2.398827e+09,2.475464e+09,2.576935e+09,2.606977e+09,2.765137e+09,2.942848e+09,3.296693e+09,3.562720e+09,3.842027e+09,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN

In [6]:
scimen = pd.read_excel(data_folder + 'scimagojr-3.xlsx')
scimen.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [7]:
scimen_d = scimen[scimen.Rank.isin(range(1,16))]
gdp_col = ['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
df_results = pd.merge(scimen_d, energy, how='left', on='Country').merge(gdp[gdp_col], how = 'left', on='Country')
df_results.set_index('Country', inplace=True)
df_results.shape

(15, 20)

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

This function should return a single number.

In [8]:
df_result1 = pd.merge(scimen, energy, how='left', on='Country').merge(gdp, how = 'left', on='Country')
df_result2 = pd.merge(scimen, energy, how='outer', on='Country').merge(gdp[gdp_col], how = 'outer', on='Country')
print(len(df_result2) - len(df_result1))

128

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

This function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.

In [9]:
df_results[['2006','2007','2008','2009','2010',
                                   '2011','2012','2013','2014','2015']].mean(axis=1, 
                                                                             skipna=True).sort_values(ascending=False)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

This function should return a single number.

In [10]:
d = pd.DataFrame(df_results[['2006','2007','2008','2009','2010',
                                   '2011','2012','2013','2014',
                         '2015']].mean(axis=1, skipna=True).sort_values(ascending=False).reset_index())
d.iloc[5]['Country']
df_results.loc[d.iloc[5]['Country']]['2015'] - df_results.loc[d.iloc[5]['Country']]['2006']

246702696075.3999

### Question 5 (6.6%)
What is the mean Energy Supply per Capita?

This function should return a single number.

In [11]:
df_results['Energy Supply per Capita'].mean()

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

This function should return a tuple with the name of the country and the percentage.

In [12]:
tuple([df_results['% Renewable'].idxmax(), df_results['% Renewable'].max().round(2)])

('Brazil', 69.65)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?

This function should return a tuple with the name of the country and the ratio.

In [13]:
df_results['citation_ratio'] = df_results['Self-citations']/df_results['Citations']
tuple([df_results['citation_ratio'].idxmax(), df_results['citation_ratio'].max().round(2)])

('China', 0.69)

### Question 8 (6.6%)
Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?

This function should return a single string value.

In [17]:
df_results['population_est'] = (df_results['Energy Supply']/df_results['Energy Supply per Capita'])
df_results.sort_values('population_est', ascending=False).iloc[2].name

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).

This function should return a single number.

(Optional: Use the built-in function plot9() to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)

In [ ]:
df_results['Citable docs per Capita'] = ddf_results['Citable documents'] / df_results['population_est']
df_results['Citable docs per Capita'].corr(df_results['Energy Supply per Capita'])

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

This function should return a series named HighRenew whose index is the country name sorted in ascending order of rank.

In [22]:
median_val = df_results['% Renewable'].median()
df_results['HighRenew'] = np.where(df_results['% Renewable'] < median_val, 0, 1)
df_results.sort_values('% Renewable', ascending=False).HighRenew

Country
Brazil                1
Canada                1
Spain                 1
Italy                 1
China                 1
Germany               1
Russian Federation    1
France                1
India                 0
Australia             0
United States         0
United Kingdom        0
Japan                 0
Iran                  0
South Korea           0
Name: HighRenew, dtype: int64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```
This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`

In [39]:
ContinentDict = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
df_continent = df_results.reset_index()
df_continent['continent'] = df_continent['Country'].map(ContinentDict)
df_continent.population_est = df_continent.population_est.astype(float)
#df_continent = df_continent.set_index('continent')
df_continent.groupby('continent')['population_est'].agg({'size': np.size,
                                                          'sum': np.sum,
                                                          'mean': np.mean,
                                                          'std': np.std})

/Users/vishal.gupta/paysense/dashboards/venv/lib/python3.6/site-packages/ipykernel_launcher.py:23: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

               size           sum          mean           std
continent
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

This function should return a Series with a MultiIndex of Continent, then the bins for % Renewable. Do not include groups with no countries.

In [44]:
df_continent['bins'] = pd.cut(df_continent['% Renewable'],5)
df_continent.groupby(['continent', 'bins']).size()

continent      bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

This function should return a Series PopEst whose index is the country name and whose values are the population estimate string.

In [48]:
df_results['population_est_str'] = df_results.population_est.astype(str)
df_results['population_est_str']

Country
China                 1367645161.2903225
United States         317615384.61538464
Japan                 127409395.97315437
United Kingdom        63870967.741935484
Russian Federation           143500000.0
Canada                 35239864.86486486
Germany                80369696.96969697
India                 1276730769.2307692
France                 63837349.39759036
South Korea           49805429.864253394
Italy                 59908256.880733944
Spain                   46443396.2264151
Iran                   77075630.25210084
Australia             23316017.316017315
Brazil                205915254.23728815
Name: population_est_str, dtype: object